In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('NY_No_Missing.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070994 entries, 0 to 1070993
Data columns (total 33 columns):
TAXCLASS     1070994 non-null object
B            1070994 non-null int64
BLOCK        1070994 non-null int64
RECORD       1070994 non-null int64
BBLE         1070994 non-null object
LOT          1070994 non-null int64
EASEMENT     4636 non-null object
OWNER        1039249 non-null object
BLDGCL       1070994 non-null object
LTFRONT      1070994 non-null float64
LTDEPTH      1070994 non-null float64
EXT          354305 non-null object
STORIES      1070994 non-null float64
FULLVAL      1070994 non-null float64
AVLAND       1070994 non-null float64
AVTOT        1070994 non-null float64
EXLAND       1070994 non-null float64
EXTOT        1070994 non-null float64
EXCD1        638488 non-null float64
STADDR       1070318 non-null object
ZIP          1070994 non-null float64
EXMPTCL      15579 non-null object
BLDFRONT     1070994 non-null float64
BLDDEPTH     1070994 non-null float64
AVLAND2      282726 non-null float64
AVTOT2       282732 non-null float64
EXLAND2      87449 non-null float64
EXTOT2       130828 non-null float64
EXCD2        92948 non-null float64
PERIOD       1070994 non-null object
YEAR         1070994 non-null object
VALTYPE      1070994 non-null object
BLOCK-LOT    1070994 non-null object
dtypes: float64(17), int64(4), object(12)
memory usage: 269.6+ MB

In [5]:
df['lotarea'] = df['LTFRONT'] * df['LTDEPTH']
df['bldarea'] = df['BLDFRONT'] * df['BLDDEPTH']
df['bldvol'] = df['bldarea'] * df['STORIES']

In [6]:
df['FV1'] =  df['FULLVAL'] /  df['lotarea']
df['FV2'] =  df['FULLVAL'] /  df['bldarea']
df['FV3'] = df['FULLVAL'] /  df['bldvol']

In [7]:
df['AL1'] =  df['AVLAND'] /  df['lotarea']
df['AL2'] =  df['AVLAND'] /  df['bldarea']
df['AL3'] = df['AVLAND'] /  df['bldvol']

In [8]:
df['VT1'] =  df['AVTOT'] /  df['lotarea']
df['VT2'] =  df['AVTOT'] /  df['bldarea']
df['VT3'] = df['AVTOT'] /  df['bldvol']

In [9]:
df['ZIP3'] = df['ZIP'].astype(str).str[:3]

In [10]:
l = ['lotarea','bldarea','bldvol','FV1','FV2','FV3','AL1','AL2','AL3','VT1','VT2','VT3']

In [16]:
group1 = df.groupby('ZIP3')[l].mean()
name1 = []
for i in l:
    name1.append(i+'-1')
group1.columns = name1
group1 = group1.reset_index()

In [17]:
group1

,ZIP3,lotarea-1,bldarea-1,bldvol-1,FV1-1,FV2-1,FV3-1,AL1-1,AL2-1,AL3-1,VT1-1,VT2-1,VT3-1
0,100,16503.068639,14751.648546,369516.615256,370.013595,598.803748,194.565437,35.904690,85.186753,45.797415,97.150586,164.804118,59.116648
1,101,10695.061956,23159.643007,672547.264583,360.615909,504.913767,125.911319,26.210258,37.348550,10.821508,78.645357,92.054863,19.699765
2,102,14818.435869,33273.613458,889082.394260,43.955739,70.974575,12.078628,3.696742,11.174953,4.338118,19.780085,31.938560,5.435383
3,103,11640.390351,1680.488067,4546.656283,132.835911,561.936937,312.321193,4.820456,42.552474,29.244643,8.654731,57.818712,37.081544
4,104,44599.185576,3300.705112,20370.657322,135.214954,419.667462,220.786609,5.705807,31.234198,22.240379,14.985703,53.725930,32.768737
5,108,17635.565217,1954.978261,3304.421739,67.655652,566.566190,352.256969,1.981319,16.838529,10.468843,3.363930,28.542184,17.910235
6,110,5723.897531,1103.480554,2155.157382,124.065752,675.352665,409.717654,4.806099,31.471085,19.029119,8.251361,49.514507,28.811112
7,111,8084.047752,5524.169326,41412.308733,221.500239,827.367448,287.940424,9.054889,102.042890,25.319143,24.905455,188.374626,43.437912
8,112,5480.411718,2096.628448,9343.283265,245.477420,618.943150,294.759620,7.812669,29.731129,19.896722,18.871862,51.500639,28.628515
9,113,8816.166380,2129.949377,10354.888642,992.935958,686.628508,381.758797,11.681568,63.620371,46.581632,45.520444,84.055761,56.903472
10,114,5215.595416,1224.237911,3669.656588,139.198962,616.800824,309.892761,4.860222,26.883566,15.943146,9.384300,46.390021,25.047244
11,116,8881.422560,2080.521247,9923.169886,116.768836,707.000402,411.336599,3.828659,51.302076,35.804028,7.957176,72.175036,46.753357
12,338,3146.666667,1360.000000,4560.000000,55.423729,127.440476,74.662698,10.309040,28.572659,27.843103,10.309040,28.572659,27.843103

In [18]:
# name1 = []
# for i in l:
#     name1.append(i+'-1')
# group1.columns = name1
# group1 = group1.reset_index()

In [12]:
name1

['lotarea-1',
 'bldarea-1',
 'bldvol-1',
 'FV1-1',
 'FV2-1',
 'FV3-1',
 'AL1-1',
 'AL2-1',
 'AL3-1',
 'VT1-1',
 'VT2-1',
 'VT3-1']

In [19]:
group2 = df.groupby('ZIP')[l].mean()
name2 = []
for i in l:
    name2.append(i+'-2')
group2.columns = name2
group2 = group2.reset_index()

In [20]:
group3 = df.groupby('TAXCLASS')[l].mean()
name3 = []
for i in l:
    name3.append(i+'-3')
group3.columns = name3
group3 = group3.reset_index()

In [21]:
group4 = df.groupby('BLDGCL')[l].mean()
name4 = []
for i in l:
    name4.append(i+'-4')
group4.columns = name4
group4 = group4.reset_index()

In [22]:
group5 = df.groupby('B')[l].mean()
name5 = []
for i in l:
    name5.append(i+'-5')
group5.columns = name5
group5 = group5.reset_index()

In [23]:
df = pd.merge(df,group1, how = 'left', on = 'ZIP3')

In [24]:
df = pd.merge(df,group2, how = 'left', on = 'ZIP')

In [25]:
df = pd.merge(df,group3, how = 'left', on = 'TAXCLASS')

In [26]:
df = pd.merge(df,group4, how = 'left', on = 'BLDGCL')

In [27]:
df = pd.merge(df,group5, how = 'left', on = 'B')

In [28]:
list(df.columns)

['TAXCLASS',
 'B',
 'BLOCK',
 'RECORD',
 'BBLE',
 'LOT',
 'EASEMENT',
 'OWNER',
 'BLDGCL',
 'LTFRONT',
 'LTDEPTH',
 'EXT',
 'STORIES',
 'FULLVAL',
 'AVLAND',
 'AVTOT',
 'EXLAND',
 'EXTOT',
 'EXCD1',
 'STADDR',
 'ZIP',
 'EXMPTCL',
 'BLDFRONT',
 'BLDDEPTH',
 'AVLAND2',
 'AVTOT2',
 'EXLAND2',
 'EXTOT2',
 'EXCD2',
 'PERIOD',
 'YEAR',
 'VALTYPE',
 'BLOCK-LOT',
 'lotarea',
 'bldarea',
 'bldvol',
 'FV1',
 'FV2',
 'FV3',
 'AL1',
 'AL2',
 'AL3',
 'VT1',
 'VT2',
 'VT3',
 'ZIP3',
 'lotarea-1',
 'bldarea-1',
 'bldvol-1',
 'FV1-1',
 'FV2-1',
 'FV3-1',
 'AL1-1',
 'AL2-1',
 'AL3-1',
 'VT1-1',
 'VT2-1',
 'VT3-1',
 'lotarea-2',
 'bldarea-2',
 'bldvol-2',
 'FV1-2',
 'FV2-2',
 'FV3-2',
 'AL1-2',
 'AL2-2',
 'AL3-2',
 'VT1-2',
 'VT2-2',
 'VT3-2',
 'lotarea-3',
 'bldarea-3',
 'bldvol-3',
 'FV1-3',
 'FV2-3',
 'FV3-3',
 'AL1-3',
 'AL2-3',
 'AL3-3',
 'VT1-3',
 'VT2-3',
 'VT3-3',
 'lotarea-4',
 'bldarea-4',
 'bldvol-4',
 'FV1-4',
 'FV2-4',
 'FV3-4',
 'AL1-4',
 'AL2-4',
 'AL3-4',
 'VT1-4',
 'VT2-4',
 'VT3-4',
 'lotarea-5',
 'bldarea-5',
 'bldvol-5',
 'FV1-5',
 'FV2-5',
 'FV3-5',
 'AL1-5',
 'AL2-5',
 'AL3-5',
 'VT1-5',
 'VT2-5',
 'VT3-5']

In [29]:
for x in l:
    for i in range(5):
        new_col = x + '-d-' + str(i+1)  ## meaning x divided by 1
        denominator = x+'-'+str(i+1)
        df[new_col] = df[x]/df[denominator]

In [30]:
list(df.columns)

['TAXCLASS',
 'B',
 'BLOCK',
 'RECORD',
 'BBLE',
 'LOT',
 'EASEMENT',
 'OWNER',
 'BLDGCL',
 'LTFRONT',
 'LTDEPTH',
 'EXT',
 'STORIES',
 'FULLVAL',
 'AVLAND',
 'AVTOT',
 'EXLAND',
 'EXTOT',
 'EXCD1',
 'STADDR',
 'ZIP',
 'EXMPTCL',
 'BLDFRONT',
 'BLDDEPTH',
 'AVLAND2',
 'AVTOT2',
 'EXLAND2',
 'EXTOT2',
 'EXCD2',
 'PERIOD',
 'YEAR',
 'VALTYPE',
 'BLOCK-LOT',
 'lotarea',
 'bldarea',
 'bldvol',
 'FV1',
 'FV2',
 'FV3',
 'AL1',
 'AL2',
 'AL3',
 'VT1',
 'VT2',
 'VT3',
 'ZIP3',
 'lotarea-1',
 'bldarea-1',
 'bldvol-1',
 'FV1-1',
 'FV2-1',
 'FV3-1',
 'AL1-1',
 'AL2-1',
 'AL3-1',
 'VT1-1',
 'VT2-1',
 'VT3-1',
 'lotarea-2',
 'bldarea-2',
 'bldvol-2',
 'FV1-2',
 'FV2-2',
 'FV3-2',
 'AL1-2',
 'AL2-2',
 'AL3-2',
 'VT1-2',
 'VT2-2',
 'VT3-2',
 'lotarea-3',
 'bldarea-3',
 'bldvol-3',
 'FV1-3',
 'FV2-3',
 'FV3-3',
 'AL1-3',
 'AL2-3',
 'AL3-3',
 'VT1-3',
 'VT2-3',
 'VT3-3',
 'lotarea-4',
 'bldarea-4',
 'bldvol-4',
 'FV1-4',
 'FV2-4',
 'FV3-4',
 'AL1-4',
 'AL2-4',
 'AL3-4',
 'VT1-4',
 'VT2-4',
 'VT3-4',
 'lotarea-5',
 'bldarea-5',
 'bldvol-5',
 'FV1-5',
 'FV2-5',
 'FV3-5',
 'AL1-5',
 'AL2-5',
 'AL3-5',
 'VT1-5',
 'VT2-5',
 'VT3-5',
 'lotarea-d-1',
 'lotarea-d-2',
 'lotarea-d-3',
 'lotarea-d-4',
 'lotarea-d-5',
 'bldarea-d-1',
 'bldarea-d-2',
 'bldarea-d-3',
 'bldarea-d-4',
 'bldarea-d-5',
 'bldvol-d-1',
 'bldvol-d-2',
 'bldvol-d-3',
 'bldvol-d-4',
 'bldvol-d-5',
 'FV1-d-1',
 'FV1-d-2',
 'FV1-d-3',
 'FV1-d-4',
 'FV1-d-5',
 'FV2-d-1',
 'FV2-d-2',
 'FV2-d-3',
 'FV2-d-4',
 'FV2-d-5',
 'FV3-d-1',
 'FV3-d-2',
 'FV3-d-3',
 'FV3-d-4',
 'FV3-d-5',
 'AL1-d-1',
 'AL1-d-2',
 'AL1-d-3',
 'AL1-d-4',
 'AL1-d-5',
 'AL2-d-1',
 'AL2-d-2',
 'AL2-d-3',
 'AL2-d-4',
 'AL2-d-5',
 'AL3-d-1',
 'AL3-d-2',
 'AL3-d-3',
 'AL3-d-4',
 'AL3-d-5',
 'VT1-d-1',
 'VT1-d-2',
 'VT1-d-3',
 'VT1-d-4',
 'VT1-d-5',
 'VT2-d-1',
 'VT2-d-2',
 'VT2-d-3',
 'VT2-d-4',
 'VT2-d-5',
 'VT3-d-1',
 'VT3-d-2',
 'VT3-d-3',
 'VT3-d-4',
 'VT3-d-5']

In [31]:
new_col = ['STORIES',
 'FULLVAL',
 'AVLAND',
 'AVTOT',
 'BLDFRONT',
 'BLDDEPTH',
 'lotarea',
 'bldarea',
 'bldvol',
 'FV1',
 'FV2',
 'FV3',
 'AL1',
 'AL2',
 'AL3',
 'VT1',
 'VT2',
 'VT3',
 'lotarea-d-1',
 'lotarea-d-2',
 'lotarea-d-3',
 'lotarea-d-4',
 'lotarea-d-5',
 'bldarea-d-1',
 'bldarea-d-2',
 'bldarea-d-3',
 'bldarea-d-4',
 'bldarea-d-5',
 'bldvol-d-1',
 'bldvol-d-2',
 'bldvol-d-3',
 'bldvol-d-4',
 'bldvol-d-5',
 'FV1-d-1',
 'FV1-d-2',
 'FV1-d-3',
 'FV1-d-4',
 'FV1-d-5',
 'FV2-d-1',
 'FV2-d-2',
 'FV2-d-3',
 'FV2-d-4',
 'FV2-d-5',
 'FV3-d-1',
 'FV3-d-2',
 'FV3-d-3',
 'FV3-d-4',
 'FV3-d-5',
 'AL1-d-1',
 'AL1-d-2',
 'AL1-d-3',
 'AL1-d-4',
 'AL1-d-5',
 'AL2-d-1',
 'AL2-d-2',
 'AL2-d-3',
 'AL2-d-4',
 'AL2-d-5',
 'AL3-d-1',
 'AL3-d-2',
 'AL3-d-3',
 'AL3-d-4',
 'AL3-d-5',
 'VT1-d-1',
 'VT1-d-2',
 'VT1-d-3',
 'VT1-d-4',
 'VT1-d-5',
 'VT2-d-1',
 'VT2-d-2',
 'VT2-d-3',
 'VT2-d-4',
 'VT2-d-5',
 'VT3-d-1',
 'VT3-d-2',
 'VT3-d-3',
 'VT3-d-4',
 'VT3-d-5']

In [32]:
len(new_col)

78

In [33]:
clean = df[new_col]

In [34]:
clean.head()

,STORIES,FULLVAL,AVLAND,AVTOT,BLDFRONT,BLDDEPTH,lotarea,bldarea,bldvol,FV1,...,VT2-d-1,VT2-d-2,VT2-d-3,VT2-d-4,VT2-d-5,VT3-d-1,VT3-d-2,VT3-d-3,VT3-d-4,VT3-d-5
0,3.5,21400000.0,4225500.0,9630000.0,37.5,66.0,523000.0,2475.0,8662.5,40.917782,...,23.609295,17.131699,9.485691,4.149549,24.581057,18.804996,10.793297,4.395877,4.232819,19.824151
1,3.0,193800000.0,14310000.0,87210000.0,37.0,227.0,4779.0,8399.0,25197.0,40552.416824,...,63.004366,45.718086,25.313755,21.885577,65.597633,58.547405,33.603812,13.686107,8.612672,61.720440
2,3.0,104686000.0,39008700.0,47108700.0,709.0,564.0,399876.0,399876.0,1199628.0,261.796157,...,0.714838,0.518711,0.287206,0.043961,0.744261,0.664270,0.381264,0.155281,0.026803,0.700271
3,2.0,39200000.0,15255000.0,17640000.0,85.0,551.0,436943.0,46835.0,93670.0,89.714219,...,2.285388,1.658355,0.918218,1.056686,2.379455,3.185578,1.828391,0.744664,0.603871,3.358224
4,1.0,272300000.0,121050000.0,122535000.0,89.0,57.0,406980.0,5073.0,5073.0,669.074647,...,146.563975,106.351748,58.886151,3.751951,152.596565,408.587889,234.512715,95.511966,4.292062,430.731719

### Standardization

In [35]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [36]:
clean_scale = scaler.fit_transform(clean.to_numpy())

In [37]:
clean_scale = pd.DataFrame(clean_scale, columns = clean.columns)

In [38]:
clean_scale

,STORIES,FULLVAL,AVLAND,AVTOT,BLDFRONT,BLDDEPTH,lotarea,bldarea,bldvol,FV1,...,VT2-d-1,VT2-d-2,VT2-d-3,VT2-d-4,VT2-d-5,VT3-d-1,VT3-d-2,VT3-d-3,VT3-d-4,VT3-d-5
0,-0.177236,1.769927,1.020213,1.366038,-0.071879,0.102016,3.232888,-0.015148,-0.023436,-0.040142,...,0.656469,0.932809,0.345259,0.426468,0.539922,0.451410,0.498693,0.042385,0.469796,0.416346
1,-0.238036,16.640395,3.505539,12.639995,-0.082457,2.964525,-0.047509,0.044785,-0.016253,5.333726,...,1.800320,2.585807,0.989258,2.828035,1.479056,1.458999,1.660249,0.158338,1.106279,1.342993
2,-0.238036,8.953812,9.592535,6.812458,14.134027,8.956235,2.453499,4.005340,0.493967,-0.010842,...,-0.008280,-0.027830,-0.029002,-0.129454,-0.005856,-0.008512,-0.031507,-0.010543,-0.141426,-0.006629
3,-0.359637,3.305277,3.738434,2.530054,0.933007,8.725100,2.688138,0.433640,0.013495,-0.033669,...,0.037322,0.038069,-0.003327,0.007676,0.031585,0.055411,0.042183,-0.003187,-0.057566,0.052158
4,-0.481238,23.411461,29.811617,17.773438,1.017628,-0.058000,2.498468,0.011136,-0.024995,0.043183,...,4.226504,6.091926,2.355223,0.372631,3.471022,10.333575,11.890914,1.179621,0.478405,9.504655
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070989,-0.298837,-0.038163,-0.017579,-0.030009,-0.230545,-0.609166,-0.032184,-0.032296,-0.026352,-0.037500,...,-0.014020,-0.038979,-0.001228,-0.016008,-0.011056,-0.017176,-0.037017,-0.002632,-0.035361,-0.014984
1070990,-0.298837,-0.029020,-0.018869,-0.031228,-0.188234,-0.609166,0.011722,-0.031770,-0.026296,-0.040465,...,-0.020025,-0.046515,-0.017007,-0.063753,-0.015791,-0.020446,-0.042577,-0.006571,-0.079332,-0.017837
1070991,-0.359637,-0.034541,-0.017516,-0.030059,-0.357478,-0.502489,0.013830,-0.032417,-0.026532,-0.041169,...,-0.014012,-0.038969,-0.001208,-0.015947,-0.011050,-0.015126,-0.033531,-0.000164,-0.007800,-0.013196
1070992,-0.359637,-0.029106,-0.018108,-0.030050,-0.188234,-0.698064,-0.032994,-0.033389,-0.026615,-0.035385,...,-0.011820,-0.036217,0.004554,0.001487,-0.009321,-0.013634,-0.030993,0.001634,0.012269,-0.011894
1070993,-0.359637,-0.035144,-0.017696,-0.030143,-0.230545,-0.644725,-0.052440,-0.032903,-0.026574,-0.029884,...,-0.013416,-0.038221,0.000359,-0.011205,-0.010580,-0.014720,-0.032841,0.000325,-0.002342,-0.012842

In [39]:
clean_scale.describe()

,STORIES,FULLVAL,AVLAND,AVTOT,BLDFRONT,BLDDEPTH,lotarea,bldarea,bldvol,FV1,...,VT2-d-1,VT2-d-2,VT2-d-3,VT2-d-4,VT2-d-5,VT3-d-1,VT3-d-2,VT3-d-3,VT3-d-4,VT3-d-5
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,-2.298260e-12,2.421099e-15,2.043064e-15,1.820459e-16,-3.297842e-13,1.573390e-13,2.412968e-14,1.868822e-14,-1.281411e-14,-3.000281e-16,...,-5.047111e-17,2.865673e-17,3.446493e-17,1.167173e-16,-5.104094e-17,2.311384e-17,-3.317837e-17,1.670197e-16,4.819637e-16,3.218841e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-4.812383e-01,-7.594286e-02,-2.116103e-02,-3.339761e-02,-8.440539e-01,-1.053655e+00,-7.775444e-02,-4.017698e-02,-2.719889e-02,-4.556976e-02,...,-2.903530e-02,-5.782448e-02,-4.068691e-02,-1.354061e-01,-2.289638e-02,-2.535299e-02,-5.092189e-02,-1.248116e-02,-1.453207e-01,-2.211764e-02
25%,-3.596372e-01,-4.958918e-02,-1.883971e-02,-3.069349e-02,-4.420998e-01,-4.313704e-01,-6.510055e-02,-3.290289e-02,-2.659111e-02,-3.596593e-02,...,-2.162698e-02,-4.397062e-02,-2.668760e-02,-5.763525e-02,-1.692067e-02,-2.046441e-02,-4.238438e-02,-8.833693e-03,-6.513629e-02,-1.764992e-02
50%,-3.596372e-01,-3.738694e-02,-1.775656e-02,-2.967407e-02,-3.997888e-01,-2.180157e-01,-5.915024e-02,-2.962500e-02,-2.624355e-02,-2.546001e-02,...,-1.597535e-02,-2.486280e-02,-9.009909e-03,-1.936311e-02,-1.324231e-02,-1.617214e-02,-2.685467e-02,-2.911902e-03,-2.264383e-02,-1.446562e-02
75%,-2.380361e-01,-2.246472e-02,-1.627491e-02,-2.652294e-02,-1.899015e-02,1.197958e-01,-4.053971e-02,-1.590641e-02,-2.415824e-02,-1.349963e-02,...,-1.065412e-02,-9.486209e-03,2.163266e-03,1.337814e-02,-9.449140e-03,-1.168819e-02,-1.300512e-02,7.651561e-04,1.488582e-02,-1.116857e-02
max,1.386769e+01,5.303961e+02,6.576308e+02,6.783672e+02,1.593876e+02,1.659319e+02,6.328069e+02,7.198011e+02,9.582224e+02,1.108502e+02,...,4.554202e+02,4.312461e+02,8.519376e+02,3.635025e+02,5.014693e+02,5.874244e+02,4.355783e+02,1.016385e+03,3.618026e+02,6.762695e+02

In [108]:
clean_scale.to_csv('NY clean.csv')